<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Tasks - ToDo</title>
        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/nav :: #nav}"></div>

        <div class="container">
            <table class="table table-hover">
                <div class="text-center text-dark h5 mt-3">My Tasks</div>
                <div class="d-flex justify-content-between align-content-center mb-2">
                    <a th:href="@{/task/create}" class="btn btn-sm btn-secondary"><i class="bi bi-file-earmark-plus"></i> Task</a>
                    <a th:href="@{/download}" class="btn btn-sm btn-secondary"><i class="bi bi-download"></i> CSV</a>
                </div>
                <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="task, serial : ${tasks.content}">
                        <tr>
                            <td th:text="${serial.index + 1} + ${currentPage * currentSize}"></td>
                            <td th:text="${task.title}"></td>
                            <td>
                                <th:block th:if="${task.status.value eq 'Pending'}">
                                    <span th:text="${task.status.value}" class="badge" style="background-color: #ffc107;"></span>
                                </th:block>
                                <th:block th:if="${task.status.value eq 'Processing'}">
                                    <span th:text="${task.status.value}" class="badge" style="background-color: #052c65;"></span>
                                </th:block>
                                <th:block th:if="${task.status.value eq 'Backlog'}">
                                    <span th:text="${task.status.value}" class="badge" style="background-color: #8b0000;"></span>
                                </th:block>
                                <th:block th:if="${task.status.value eq 'Completed'}">
                                    <span th:text="${task.status.value}" class="badge" style="background-color: #0a3622;"></span>
                                </th:block>
                            </td>
                            <td th:text="${#temporals.format(task.endDate, 'MMM dd, yyyy')}"></td>
                            <td>
                                <a th:href="@{/task/{id}/view(id=${task.id})}" class="btn btn-sm btn-outline-info"><i class="bi bi-eye"></i></a>
                                <a th:href="@{/task/{id}/update(id=${task.id})}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                                <a type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal' + ${task.id}"><i class="bi bi-trash"></i></a>

                                <!-- Modal -->
                                <div class="modal fade" th:id="deleteModal+ ${task.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmation message</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Go back</button>
                                                <form id="deleteForm" th:action="@{/task/{id}/delete(id=${task.id})}" th:method="post">
                                                    <button type="submit" class="btn btn-danger btn-sm">Yes, delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <div aria-label="pagination">
                <ul th:if="${not tasks.isEmpty}" class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage <= 0}? 'disabled'">
                        <a class="page-link" th:href="@{/(page=${currentPage - 1}, size=${currentSize})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="page : ${#numbers.sequence(0, tasks.totalPages - 1)}">
                        <li class="page-item" th:classappend="${currentPage == page}? 'active'">
                            <a class="page-link" th:href="@{/(page=${page}, size=${currentSize})}" th:text="${page + 1}"></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${currentPage >= tasks.totalPages - 1}? 'disabled'">
                        <a class="page-link" th:href="@{/(page=${currentPage + 1}, size=${currentSize})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                <div th:unless="${not tasks.isEmpty}" class="text-center">No data available</div>
            </div>
        </div>
    </body>
</html>