<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Tasks - ToDo</title>
        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/nav :: #nav}"></div>

        <div class="container">
            <table class="table table-hover">
                <div class="text-center text-dark h5 mt-3">My Tasks</div>
                <div th:if="${message}" th:text="${message}" class="alert alert-success" role="alert"></div>
                <thead class="table-primary">
                    <tr>
                        <th>#</th>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Deadline</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="task, serial : ${tasks}">
                        <tr>
                            <td th:text="${serial.index + 1}"></td>
                            <td th:text="${task.title}"></td>
                            <td th:text="${task.status.value}"></td>
                            <td th:text="${#temporals.format(task.endDate, 'MMM dd, yyyy')}"></td>
                            <td>
                                <a th:href="@{/task/{id}/view(id=${task.id})}" class="btn btn-sm btn-outline-info"><i class="bi bi-eye"></i></a>
                                <a th:href="@{/task/{id}/update(id=${task.id})}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                                <a type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal' + ${task.id}"><i class="bi bi-trash"></i></a>

                                <!-- Modal -->
                                <div class="modal fade" th:id="deleteModal+ ${task.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmation message</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Go back</button>
                                                <form id="deleteForm" th:action="@{/task/{id}/delete(id=${task.id})}" th:method="post">
                                                    <button type="submit" class="btn btn-danger btn-sm">Yes, delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </body>
</html>